<p class="h3">{{car.model_name}} - {{car.model_year|date:"Y"}}</p>
        <table class="table table-striped">
                <tbody>
                  <tr >
                    <td>Model Name: </td>
                    <td>{{car.model_name}}</td>
                  </tr>
                  <tr>
                    <td>Model Year: </td>
                    <td>{{car.model_year|date:"Y"}}</td>
                  </tr>
                  <tr>
                    <td>Registration No: </td>
                    <td>{{car.reg_no}}</td>
                  </tr>
                  <tr>
                    <td>Category</td>
                    <td>{{car.get_vehicle_type_display}}</td>
                  </tr>
                  <tr>
                    <td>Capacity</td>
                    <td>3 Person</td>
                  </tr>
                  <tr >
                    <td>Rent/month</td>
                    <td>{{car.rent_per_month}}</td>
                  </td>
                </tbody>
              </table>