<div class="d-flex">
        
        <div class="container p-3">
                <div class="row font-weight-bolder d-flex justify-content-between">
                    <p class="col-4 offset-1">Fleet No:</p>
                    <p class="col-4"> {{fleet.id}} </p>
                </div>
                <div class="row font-weight-bolder d-flex justify-content-between">
                    <p class="col-4 offset-1">Start Date:</p>
                    <p class="col-4"> {{fleet.fleet_start|date:'d M Y'}} </p>
                </div>
                <div class="row font-weight-bolder d-flex justify-content-between">
                    <p class="col-4 offset-1">End Date:</p>
                    <p class="col-4"> {{fleet.fleet_duration|date:'d M Y'}} </p>
                </div>
                <div class="row font-weight-bolder d-flex justify-content-between">
                    <p class="col-4 offset-1">Total vehicles:</p>
                    <p class="col-4"> {{fleet.fleet_vehicles.count}} </p>
                </div>
                <div class="row font-weight-bolder d-flex justify-content-between">
                    <p class="col-4 offset-1">Fleet Rent/ month:</p>
                    <p class="col-4">$ {{fleet.fleet_vehicles.rent_per_month.sum}} </p>
                </div>
        </div>
    </div>