{% extends 'fleets/fleets_base.html' %}
{% load crispy_forms_tags %}

{% block title %} Fleet Detail {% endblock %}
{% block fleet_content%}


<div class="col-sm-12 col-md-8 offset-md-2 py-2">
    {% if fleets_list %}
        {% for fleet in fleets_list %}
            <div class="card my-3 text-decoration-none text-dark">
                <a class="text-dark text-decoration-none" href="{% url 'fleets:fleet_detail' fleet.pk %}">
                {% include 'fleets/_fleet_list.html' %}
            </a>
            
        <div class="btn-group mb-2">
            {% if user.is_staff and not fleet.is_approved %}
                <a class="btn btn-success" href="{% url 'fleets:fleet_approve' fleet.pk %}"><i class="fas fa-clipboard-check"></i> Approve </a>
                <a class="btn btn-danger" href="{% url 'fleets:fleet_delete' fleet.pk %}"> <i class="fas fa-ban"></i> Reject </a>
            {% elif not fleet.is_freezed %}
                <a class="btn btn-dark" href="{% url 'fleets:fleet_freeze' fleet.pk %}"><i class="fas fa-ban"></i> Freeze </a>
            {% else %}
                <a class="btn btn-success" href="{% url 'fleets:fleet_freeze' fleet.pk %}"><i class="far fa-check-circle"></i> Free </a>
            {% endif%}

            {% if user.is_superuser and fleet.is_approved %}
                    <a class="btn btn-danger" href="{% url 'fleets:fleet_delete' fleet.pk %}"> <i class="far fa-trash-alt"></i> Delete </a>
            {% endif%}
        </div>
            </div>
        {% endfor %}
    {% else %}

        <p class="card h3 p-5 text-center">
            There is not fleet record to show
        </p>
    {% endif %}
</div>

        

{% endblock  %}

