{% extends 'fleets/fleets_base.html' %}
{% load crispy_forms_tags %}

{% block title %} Fleets Detail {% endblock %}
{% block fleet_content%}

    <div class="col-sm-12 col-md-8 offset-md-2 ">
        <div class="card my-3 text-decoration-none text-dark">

    {% include "./_fleet_detail.html" %}

        <div class="btn-group mb-2">
            {% if user.is_staff and not fleet.is_approved %}
                <a class="btn btn-success" href="{% url 'fleets:fleet_approve' fleet.pk %}"><i class="fas fa-clipboard-check"></i> Approve </a>
                <a class="btn btn-danger" href="{% url 'fleets:fleet_delete' fleet.pk %}"> <i class="fas fa-ban"></i> Reject </a>
            {% elif not fleet.is_approved %}
                <a class="btn btn-success" href="{% url 'fleets:fleet_approve' fleet.pk %}"><i class="fas fa-plus"></i> Add Vehicles </a>
                <a class="btn btn-warning" href="{% url 'fleets:fleet_approve' fleet.pk %}"><i class="fas fa-power-off"></i> Dismiss Fleet Request</a>
            {% else %}
                <a class="btn btn-warning" href="{% url 'fleets:fleet_freeze' fleet.pk %}"><i class="fas fa-power-off"></i> Freeze</a>
            {% endif%}

            {% if user.is_superuser and fleet.is_approved %}
                    <a class="btn btn-danger" href="{% url 'fleets:fleet_delete' fleet.pk %}"> <i class="far fa-trash-alt"></i> Delete </a>
            {% endif%}
        </div>
    </div>

    {% if fleet.fleet_vehicles.count < 10  %}
        {% for car in vehicles %}
            <div class="card p-2 my-5 table-info">
                {% include "./_detail_vehicle.html" %}
                <a class="btn btn-success" href="{% url 'fleets:add_fleet_car' fleetpk=fleet.pk carpk=car.pk %}"> <i class="fas fa-plus"></i> Add to Fleet </a>
            </div>
        {% endfor %}
    {% endif %}
</div>

{% endblock  %}

