{% extends 'fleets/fleets_base.html' %}
{% load crispy_forms_tags %}

{% block title %} {{user.username}}'s List {% endblock %}

{% block fleet_content%}


<div class="col-sm-12 col-md-8 offset-md-2 py-2">
{% if fleets_list %}
    {% for fleet in fleets_list %}
        <div class="card my-3 text-decoration-none text-dark">
            <a class="text-dark text-decoration-none" href="{% url 'fleets:fleet_detail' fleet.pk %}">
            {% include 'fleets/_fleet_list.html' %}
        </a>
        </div>
    {% endfor %}
{% else %}

    <p class="h3 p-5 text-center card">
        Sorry....!!!! <br> You haven't registared any fleet yet.
    </p>
      <a class="btn btn-success" href="{% url 'fleets:fleet_register' %}">Register Fleet Now</a>
      {% endif %}



{% endblock  %}

