{% extends 'fleets/fleets_base.html' %}
{% load crispy_forms_tags %}

{% block title %} Confirm Fleet Delete {% endblock %}
{% block fleet_content%}

<div class="col-10 offset-1">
    <div class="jumbotron">
        <p class="h3 lead">Do you really want to delete this fleet ?</p>
        <form action="#" method="post">
            {% csrf_token %}
            <button class="btn btn-lg btn-success" type="submit"><i class="fas fa-trash mr-2"></i>Confirm</button>
            <a class="btn btn-lg btn-primary" href="{% url 'fleets:fleet_detail' fleet.pk %}"> <i class="fas fa-ban mr-2"></i> Cancel </a>
        </form>
    </div>
</div>

{% endblock  %}

