<!-- Footer -->
<footer class="page-footer font-small bg-secondary my-2">

    <!-- Footer Links -->
    <div class="text-center text-md-left px-5">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-capitilize mt-3 mb-4">Vehicle</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="{% url 'vehicle:vehicle_list' %}">Vehicles</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->

  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-capitilize mt-3 mb-4">Blogs</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="{% url 'blogs:blog_list' %}">All Blogs</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-capitilize mt-3 mb-4">Contact Us</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="{% url 'blogs:about_us' %}">Contact</a>
            </li>

          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-light">© 2019 Copyright<span class="text-light h5" > @ Fahad-Md-Kamal (00171328)</span>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->