{% extends 'blog/blog_base.html' %}
{% load crispy_forms_tags %}

{% block blog_content%}
<div class="col-md-8 col-sm-12 offset-md-2">
    <article class="card text-white bg-dark mb-3">
            <div class="card-header d-flex justify-content-start">
                <img class="rounded-circle article-img mr-2" src="{{ article.author.profile.image.url }}" alt="" srcset="">
                <div class="mt-3 ml-3">
                    <a class="mr-2 text-light" href="#">{{ article.author }}</a>
                    <small class="text-primary">{{ article.posted_date }}</small>
                    <h4 class="card-title">{{ article.title }}</h4>
                </div>
            </div>
            <div class="card-body">
              <p class="card-text">{{ article.content }}</p>
              
            </div>
            <div class="card-footer d-flex justify-content-between">
                
                <div>
                    <a class="btn btn-success" href="#">Delete</a>
                </div>
            </div>
            <div class="card px-2">
            {% if article.comments %}
                <div class="my-2"> Comment(s): 
                    <span class="badge badge-primary badge-pill">{{article.comments.count}}</span>
                </div>
                {% endif %}
            {% for cmt in article.comments.all %}
                   <div class="card mb-2"> 
                <div class="mt-3 ml-3">
                    <img class="rounded-circle comment-img mr-2" src="{{ cmt.user.profile.image.url }}" alt="" srcset="">
                    <a class="mr-2 text-light" href="#">{{cmt.user.username}}</a>
                        <small class="text-primary">{{cmt.comment_date}}</small>
                    </div>
                    
                    <div class="card-body">
                        <p class="card-text">{{ cmt.comment }}</p>
                  </div>
                </div>
            {% endfor %}


        </article>

        <div class="card bg-dark p-3">
        <form action="" method="post">
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
        </form>
    </div>
</div>
        </div>
{% endblock  %}