{% extends 'base.html' %}

{% block title %} Blogs {% endblock %}

{% block content %}
    <nav class="navbar navbar-dark bg-primary mb-3">
        <ul class="nav">
            <a class="btn text-light mr-2 text-decoration-none" href="{% url 'blogs:blog_list' %}">Blogs</a>
            <a class="btn text-light text-decoration-none" href="{% url 'blogs:blog_create' %}">Write Blog</a>
        </ul>
        </nav>
<div class="row">
  {% block blog_content%}
  {% endblock %}
</div>
{% endblock content %}