{% extends 'base.html' %}

{% block title %} Blogs {% endblock %}

{% block content %}
<div class="nav-scroller py-1 px-5 mb-2 bg-secondary">
        <nav class="nav d-flex justify-content-center">
          <a class="btn text-light mr-2 text-decoration-none" href="{% url 'blogs:blog_list' %}">Blogs</a>
          <a class="btn text-light text-decoration-none" href="{% url 'blogs:article_create' %}">Write Blog</a>
        </nav>
      </div>

<div class="container">
  {% block blog_content%}
  {% endblock blog_content %}
</div>

{% endblock content %}