{% extends 'vehicle/vehicle_base.html' %}

{% block vehicle_content%}


<div class="col-xl-10 offset-xl-1">
    <div class="row">
<div class="col-sm-10 offset-sm-1 col-md-6 col-xl-6">
        {% if CarsList %}
                <div class="h3 text-center mt-5">All {{ page_heading }} Cars</div>
                {% for car in CarsList %}
                <div class="card ml-4 my-5">
                    {% include './_list_vehicle.html' %}
                </div>
        {% endfor %}
        
        
            {% else %}
                <p class="h2 text-info text-center mt-5">No car found</p>
            {% endif %}
        </div>
        
        <div class="col-md-3 d-sm-none d-md-block my-2 col-xl-3 offset-xl-1">
            <div class="h3">All Categories</div>
            <p class="h4 mt-5">Vehicle Type</p>
            <ul class="list-group">
                <li class="list-group-item">
                    <form action="{% url 'vehicle:vehicle_list' %}" method="post">{% csrf_token %}
                        <input type="hidden" name="query" value="0" >
                        <button class="btn btn-link" type="submit"> All Cars </button>
                    </form> 
                </li>
                <li class="list-group-item">
                    <form action="{% url 'vehicle:search_vehicle' %}" method="post">{% csrf_token %}
                        <input type="hidden" name="query" value="0" >
                        <button class="btn btn-link" type="submit"> Small Car </button>
                    </form> 
                </li>
                <li class="list-group-item">
                    <form action="{% url 'vehicle:search_vehicle' %}" method="post">{% csrf_token %}
                        <input type="hidden" name="query" value="1" >
                        <button class="btn btn-link" type="submit"> Medium Car </button>
                    </form> 
                </li>
                <li class="list-group-item">
                    <form action="{% url 'vehicle:search_vehicle' %}" method="post">{% csrf_token %}
                        <input type="hidden" name="query" value="2" >
                        <button class="btn btn-link" type="submit"> Large Car </button>
                    </form>
                </li>
                <li class="list-group-item">
                    <form action="{% url 'vehicle:search_vehicle' %}" method="post">{% csrf_token %}
                        <input type="hidden" name="query" value="3" >
                        <button class="btn btn-link" type="submit"> All Vans </button>
                    </form> 
                </li>
            </ul>
        </div>
    </div>
    </div>

{% endblock  %}

