{% extends 'vehicle/vehicle_base.html' %}
{% load crispy_forms_tags %}

{% block vehicle_content%}


<!-- Jumbotron -->
<div class="jumbotron col-sm-10 col-md-8 col-xl-6 offset-sm-1 offset-md-2 offset-xl-3">
        {% include './_detail_vehicle.html' %}
              <div class="btn-group d-flex justify-content-end">
                {%if not user.is_staff %}
                  <a class="btn btn-lg btn-success" href="#">Hire</a>
                {% endif %}
                
                {% if car.owner == user %}
                  <a class="btn btn-lg btn-primary" href="{% url 'vehicle:update_vehicle' car.pk %}">Edit Info</a>
                  {% endif %}

                {% if user.is_superuser %}
                  <a class="btn btn-lg btn-danger" href="{% url 'vehicle:delete_vehicle' car.pk %}">Delete</a>
                {% endif %}
              </div>
      </div>
      <!-- Jumbotron -->

{% endblock  %}
