{% extends 'base.html' %}

{% block title %} Vehicle {% endblock %}

{% block content %}





<!--Navbar-->
<nav class="navbar navbar-dark navbar-dark bg-primary">
  <ul class="nav">
    <li class="nav-item">
      <a class="btn text-light mr-2 text-decoration-none" href="{% url 'vehicle:vehicle_list' %}">Cars</a>
    </li>
    {% if user.is_superuser or user.is_staff %}
    <li class="nav-item">
      <a class="btn text-light mr-2 text-decoration-none" href="{% url 'vehicle:admin_vehicle' %}">Admin View</a>
    </li>
    {% endif %}
    <li class="nav-item">
      <a class="btn text-light mr-2 text-decoration-none" href="{% url 'vehicle:reg_vehicle' %}">Register Car</a>
    </li>
  </ul>
    <form class="form-inline my-2 my-lg-0 ml-auto">
      <input class="form-control" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit">Search</button>
    </form>
  </nav>

<div class="row">
  {% block vehicle_content%}
  {% endblock %}
</div>
{% endblock content %}