{% extends 'vehicle/vehicle_base.html' %}
{% load crispy_forms_tags %}

{% block vehicle_content%}


<!-- Jumbotron -->
<div class="jumbotron col-10 offset-1">
        <p class="h3">Details of - {{car.model_name}} {{car.model_year|date:"Y"}}</p>
        <table class="table table-striped">
                <tbody>
                  <tr>
                    <td>Owner:</td>
                    <td>{{car.owner.username}}</td>
                  </tr>
                  <tr>
                    <td>Model Name: </td>
                    <td>{{car.model_name}}</td>
                  </tr>
                  <tr>
                    <td>Model Year: </td>
                    <td>{{car.model_year|date:"Y"}}</td>
                  </tr>
                  <tr>
                    <td>Registration No: </td>
                    <td>{{car.added_on}}</td>
                  </tr>
                  <tr>
                    <td>Category</td>
                    <td>{{car.get_vehicle_type_display}}</td>
                  </tr>
                  <tr>
                    <td>Status</td>
                    <td>{{car.is_hired}}</td>
                  </tr>
                  <tr>
                    <td>Capacity</td>
                    <td>3 Person</td>
                  </tr>
                  <tr>
                    <td>Rent/month</td>
                    <td>{{car.rent_per_month}}</td>
                  </tr>
                  <tr>
                    <td>Registared Since</td>
                    <td>{{ car.added_on|date:"d M Y" }}</td>
                  </tr>
                </tbody>
              </table>
              <div class="btn-group d-flex justify-content-end">
                {%if not user.is_staff %}
                  <a class="btn btn-lg btn-success" href="#">Hire</a>
                {% endif %}

                {% if user.is_staff %}
                  <a class="btn btn-lg btn-warning" href="{% url 'vehicle:freeze_vehicle' car.pk %}">Freeze</a>
                {%endif%}
                
                {% if car.owner == user or user.is_staff %}
                  <a class="btn btn-lg btn-primary" href="{% url 'vehicle:update_vehicle' car.pk %}">Edit Info</a>
                  {% endif %}

                {% if user.is_superuser %}
                  <a class="btn btn-lg btn-danger" href="{% url 'vehicle:delete_vehicle' car.pk %}">Delete</a>
                {% endif %}
              </div>
      </div>
      <!-- Jumbotron -->






{% endblock  %}


<!-- <div class="col-md-8 col-sm-12 offset-md-2">
        <article class=" text-white bg-light mb-3">
                <div class="card-header d-flex justify-content-start">
                    <img class="rounded-circle article-img mr-2" src="#" alt="" srcset="">
                    <div class="mt-3 ml-3">
                        <a class="mr-2 text-primary" href="#">@ {{ car.owner.username }}</a>
                        <h4 class="card-title text-dark">{{ car.reg_no }}</h4>
                        <small class="text-primary text-muted">{{ car.vehicle_type }}</small>
                    </div>
                </div>
                <div class="card-body text-danger">
                    <p>Car</p>
                    {% if car.is_hired %}
                        <p class="badge badge-pill badge-primary h4">Hired</p>
                    {% else %}
                        <p class="badge badge-pill badge-primary h4">Available</p>
                    {% endif %}
                  
                </div>
                <div class="card-footer d-flex justify-content-between">
                {% if user.is_authenticated %}
                    {% if user.id == car.owner.id or user.is_staff %}
                    <div>
                        <a class="btn btn-outline-success mr-auto" href="{% url 'vehicle:update_vehicle' car.pk %}">Update Vehicle</a>
                        <a class="btn btn-outline-warning" href="{% url 'vehicle:delete_vehicle' car.pk %}">Delete Vehicle</a>
                    </div>
                    {% endif %}
                {% endif %}
                </div>
            </div> -->