{% extends 'vehicle/vehicle_base.html' %}

{% block vehicle_content%}

<div class="col-md-8 my-2 col-sm-12 pt-5">
        
{% if CarsList %}
    {% for car in CarsList %}
        <div class="h3">All Available Cars</div>
        {% include './_list_vehicle.html' %}
        {% endfor %}


    {% else %}
        <p class="h2 text-info">Sorry !!! <br> Currently we have no cars left for hire</p>
    {% endif %}
</div>

<div class="col-md-4 d-sm-none d-md-block my-2">
    <div class="h3">All Categories</div>
    <p class="h4 mt-5">Vehicle Type</p>
    <ul class="list-group">
        <li class="list-group-item"> <a href="#"> Small Car </a></li>
        <li class="list-group-item"> <a href="#"> Medium Car </a></li>
        <li class="list-group-item"> <a href="#"> Large Car </a></li>
        <li class="list-group-item"> <a href="#"> Van </a></li>
    </ul>
</div>

{% endblock  %}
