{% extends 'vehicle/vehicle_base.html' %}
{% load crispy_forms_tags %}

{% block vehicle_content%}


<!-- Jumbotron -->
<div class="jumbotron col-sm-10 col-md-8 col-xl-6 offset-sm-1 offset-md-2 offset-xl-3">
        {% include 'vehicle/_detail_vehicle.html' %}
              <div class="btn-group d-flex justify-content-end">
                
                {% if car.owner == user or user.is_staff %}
                  <a class="btn btn-lg btn-warning" href="{% url 'vehicle:update_vehicle' car.pk %}">Edit</a>
                  {% endif %}

                <!-- {if not user.is_staff and not car.is_hired and car.is_approved } -->
                {%if user.user_profile.user_type == 0 %}
                  <a class="btn btn-lg btn-success" href="{% url 'fleet:add_to_fleet' car.pk %}">Book</a>
                {% endif %}
              </div>
      </div>
      <!-- Jumbotron -->

{% endblock  %}
