{% extends 'vehicle/vehicle_base.html' %}

{% block vehicle_content%}


{% if not user.is_staff %}
   <p class="display-3 container"> Sorry !! Only admins and moderators can visit this page</p>

{% else %}

    <div class="my-2 col-sm-10 col-md-8 col-xl-4 offset-sm-1 offset-md-2 offset-xl-4">
            <div class="h3 my-5">Admin's View</div>
            {% if cars_list %}
                {% for car in cars_list %}
                <div class="card my-5 text-decoration-none text-dark">
                    {% include './_list_vehicle.html' %}
                    
                    <div class="btn-group mb-2">
                        {% if not car.is_approved %}
                            <a class="btn btn-success" href="{% url 'vehicle:approve_vehicle' car.pk %}"><i class="fas fa-clipboard-check"></i> Approve </a>
                            <a class="btn btn-danger" href="{% url 'vehicle:delete_vehicle' car.pk %}"> <i class="fas fa-ban"></i> Reject </a>
                        {% endif%}
        
                        {% if not car.is_freezed %}
                            <a class="btn btn-warning" href="{% url 'vehicle:freeze_vehicle' car.pk %}"><i class="fas fa-power-off"></i> Freeze </a>
                        {% else %}
                            <a class="btn btn-success" href="{% url 'vehicle:freeze_vehicle' car.pk %}"> <i class="fas fa-power-off"></i> Free </a>
                        {% endif%}
                        
                        {% if user.is_superuser%}
                                <a class="btn btn-danger" href="{% url 'vehicle:delete_vehicle' car.pk %}"> <i class="far fa-trash-alt"></i> Delete </a>
                        {% endif%}
                    </div>
                </div>
            {% endfor %}
        
        {% else %}
        
            <p class="display-1 text-light">
                Sorry!! There is nothing to show at this moment.
            </p>
        
        {% endif %}
        
        </div>
        

{% endif %}




{% endblock  %}
