{% extends 'vehicle/vehicle_base.html' %}

{% block vehicle_content%}
<div  class="jumbotron col-sm-12 col-md-8 col-xl-8 offset-md-2 col-xl-2 mt-5">
        <p class="display-4 text-danger"> Warning !! </p>
        <hr class="my-4 bg-light" >
        <p class="lead"> Do you really want to remove the vehicle ? </p>
        <p class="form-text font-weight-bolder">
            Model: <i class="fas fa-arrow-right"></i>  {{object.model_name}} <br>
            Registration No: <i class="fas fa-arrow-right"></i> {{object.reg_no}} <br>
        </p>
        <hr class="my-4 bg-light" >
        <form method="post">
            {% csrf_token %}
                <button class="btn btn-lg btn-success" type="submit"><i class="fas fa-trash"></i>Confirm</button>
        <a class="btn btn-lg btn-success" href="{% url 'vehicle:detail_vehicle' object.pk %}">Cancel</a>
    </form>
    </div>
{% endblock %}