
{% extends 'blog/blog_base.html' %}

{% block blog_content%}
<div class="container">
  
  <!-- row -->
  <div class="row">

    <!-- Left Side Bar -->
    <div class="col-md-8">
      <!-- If any blog available -->
      {% if blogs%}
          <p class="mt-5 text-center h3 py-3 text-dark card-title tempting-azure-gradient rounded-pill">{{msg}} </p>

          <!-- Load Blog Card for each blog -->
          {% for post in blogs %}
            {% include './_list_blog.html' %}
          {% endfor %}

      {% else %}
            <div class="card card-cascade wider mb-3">
              <p class="card-body">There is no blog to show</p>
            </div>
      {% endif%}
      <!-- If any blog available -->

    <!-- Pagination -->
    {% if blogs.has_other_pages %}
    <nav class="Page navigation">
      <ul class="pagination">
        {% if blogs.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ blogs.previous_page_number }}">&laquo;</a>
          </li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}

        {% for i in blogs.paginator.page_range %}
          
        {% if blogs.number == i %}
            <li class="active text-danger">
              <span>{{ i }} 
                <span class="sr-only">(current)</span>
              </span>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
          {% endif %}

        {% endfor %}

        {% if blogs.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ blogs.next_page_number }}">&raquo;</a>
          </li>
        {% else %}
          <li class="disabled">
            <span>&raquo;</span>
          </li>
        {% endif %}

      </ul>
    </nav>
    {% endif %}
    <!-- Pagination -->

    </div>
    <!-- Left Side Bar -->

    <!-- Right Side Bar -->
    <div class="col-md-4 my-5">

      <!-- Search card -->
      <div class="card">
          <p class="h3 p-2 text-dark card-title tempting-azure-gradient">
              Search
          </p>

          <!-- Search box -->
          <div class="card-body">
              <form action="{% url 'blogs:search' %}" method="get">
                <input class="form-control" type="text" name="query_text" placeholder="Search ..." >
              <button class="btn btn-block badge-success" type="submit">submit</button>
            </form> 
          </div>
          <!-- Search box -->

      </div>
      <!-- Search card -->

    </div>
    <!-- Right Side Bar -->

  </div>
<!-- row -->

</div>
{% endblock  %}
