{% extends 'fleet/fleet_base.html' %}

{% block fleet_content %}


{% if fleet %}
<div class="container-fluid">
    <div class="row">
    <!-- <div class="px-4 px-lg-0">
     
        <div class="pb-5"> -->
                    {% if car %}
                  <div class="col-md-10 col-lg-4 p-5 bg-white rounded offset-md-1 shadow-sm mb-5">
                      {% include 'vehicle/_detail_vehicle.html' %}
                  </div>
                  <div class="col-md-10 col-lg-6 p-5 bg-white rounded offset-md-1 shadow-sm mb-5">
                        {% else%}
                    <div class="col-md-10 p-5 bg-white rounded shadow-sm mb-5 offset-md-1">
                    {% endif %}
          
                    <!-- Shopping cart table -->
                    <div class="table-responsive">
                        <div class="bg-light px-4 py-3 font-weight-bold d-flex"> 
                          <span> Reference Id: <span class="text-success">{{fleet.fleet_ref}}</span></span>
                          <span class="ml-auto text-success font-weight-bolder">{% if fleet.is_approved %} Approved {% endif %}</span>
                          
                        </div>

                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col" class="border-0 bg-light">
                              <div class="p-2 px-3 text-uppercase">Vehicle</div>
                            </th>
                            <th scope="col" class="border-0 bg-light">
                              <div class="py-2 text-uppercase">Rent/month</div>
                            </th>
                            <th scope="col" class="border-0 bg-light">
                              <div class="py-2 text-uppercase">Capacity</div>
                            </th>
                            {% if  not fleet.is_purchased %}
                            <th scope="col" class="border-0 bg-light">
                              <div class="py-2 text-uppercase">Remove</div>
                            </th>
                            {% endif %}
                          </tr>
                        </thead>
                        <tbody>
                        {% for car in vehicles %}
                          <tr>
                            <th scope="row" class="border-0">
                              <a href="{% url 'fleet:detail_fleet' fleet.pk car.pk %}">
                              <div class="p-2">
                                <img src="{{ car.image.url }}" alt="" width="70" class="img-fluid rounded shadow-sm">
                                <div class="ml-3 d-inline-block align-middle">
                                  <h5 class="mb-0"> <span class="text-dark d-inline-block align-middle">{{car.get_model_name_display}}</span></h5>
                                    <span class="text-muted font-weight-normal font-italic d-block">Category: {{car.get_vehicle_type_display.upper}}</span>
                                    {% if car.is_hired%} <span class="text-muted font-weight-normal font-italic d-block text-danger">This Vehicle is Hired</span>{% endif %}
                                </div>
                              </div>
                            </a>
                            </th>
                            <td class="border-0 align-middle"><strong>&#2547; {{car.rent}} /-</strong></td>
                            <td class="border-0 align-middle"><strong>{{car.capacity}}</strong></td>
                            {% if not car.is_hired or not fleet.is_purchased %} 
                              <td class="border-0 align-middle"> <a href="{% url 'fleet:remove_from_fleet' fleet.pk car.pk %}" class="text-dark"><i class="fa fa-trash text-danger"></i></a> </td>
                            {% endif %}
                          </tr>
                        {% endfor %}
                            <tr class="table-active">
                            <th scope="row" class="border-0">
                              <h5>Total Vehicels: {{fleet.vehicles.count}}</h5>
                            </th>
                            <td class="border-0 align-middle"> <span class="h5">Total Rent: </span></td>
                            <td class="border-0 align-middle"><span class="h5">&#2547; {{total}} /-</span></td>
                          {% if  not fleet.is_purchased %}
                            <td class="border-0 align-middle"></td>
                            {% endif %}
                          </tr>

                        </tbody>
                      </table>
                      {% if not fleet.is_purchased and fleet.vehicles.count < 10 %}
                        <a href="{% url 'fleet:existing_fleet' fleet.pk %}" id="button-addon3" class="btn btn-success btn-block px-4 rounded-pill"><i class="fa fa-gift mr-2"></i>Add Vehicles</a>
                      {% elif fleet.is_purchased or fleet.vehicles.count >= 10 %}
                      <span class="text-warning h3 text-center" >Reached Vehicles Limit of 10 For A Fleet</span>
                      <a href="{% url 'fleet:new_fleet' %}" id="button-addon3" class="btn btn-primary btn-block px-4 rounded-pill"><i class="fa fa-gift mr-2"></i>New Fleet</a>
                      {% endif %}
                    </div>
                    <!-- End -->
                  </div>
                </div>

                <div class="col-md-10 col-lg-6 offset-md-1">
                  <div class="bg-light rounded-pill px-4 py-3 text-capitalize font-weight-bold">Fleet information </div>
                  <div class="p-4">
                  <p class=" mb-4"><span class="ml-auto">
                    {% if fleet.is_approved %}
                      <span class="text-warning h4">Expirs on: {{ fleet.expiration_date|date:"d-M-Y" }}</span>
                    {% else %}
                      <span class="text-primary"> Your fleet will be expired after 30 days from the approval day</span>
                    {% endif %}
                  </p>
                  <ul class="list-unstyled mb-4">
                      <li class="d-flex justify-content-between py-3 border-bottom">
                        <strong class="text-muted">Total Vehicle(s):</strong>
                        <strong class="font-weight-bold">	
                            {{fleet.vehicles.count}}
                          </strong>
                          </li>
                        <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Total Rent:</strong>
                        <h5 class="font-weight-bold">&#2547; {{total}}</h5>
                      </li>
                    </ul>
                    {% if not fleet.is_purchased %}
                      <a href="{% url 'fleet:checkout' fleet.pk  %}" class="btn btn-info rounded-pill py-2 btn-block">Procceed to checkout</a>
                      <a href="{% url 'fleet:cancel_fleet' fleet.pk  %}" class="btn btn-warning rounded-pill py-2 btn-block text-dark">Cancel Fleet</a>
                    {% elif fleet.is_purchased %}
                      <a href="{% url 'fleet:report_generator' fleet.pk  %}" class="btn btn-info rounded-pill p-3 btn-block">Fleet Report</a>
                    {% else %}
                      <p class="h5 text-danger" >Collect Your Invoice After Payment</p>
                    {% endif %}
                  </div>
                </div>
<!-- 
        </div>
      </div> -->





{% else %}
    Sorry!!!!      No Fleets
    <br>
    {{msg}}
{% endif %}

                      </div>
          </div>
{% endblock fleet_content%}