{% extends 'fleet/fleet_base.html' %}
{% block fleet_content %}
      
{% if fleets%}


    {% for fleet in fleets %}
    <div class="card px-5 h4">
    <p class="card-header ">
        Fleet ID: <span class="font-weight-bolder h4 text-success">{{ fleet.fleet_ref }}</span>
    </p>
    <div class="card-body p-5">
            <div class="text-capitalize">
                <span>Total Cars:</span>
                <span>{{ fleet.vehicles.count }}</span>
            </div>
            <hr class="my-3 bg-primary" >
            {% if fleet.is_approved %}
            <div class="text-capitalize">
                <span>Expires on:</span>
                <span class="text-danger">{{ fleet.expiration_date|date:"d-M-Y" }}</span>
            </div>
            <hr class="my-3 bg-primary" >
            {% endif %}
            <div class="text-capitalize">
                <span>Total Rent:</span>
                <span>&#2547; {{ fleet.get_total }}</span>
            </div>
    </div>
    <div class="card-footer">
        <div class="btn-group">
            <a class="btn btn-lg badge-info badge-pill" href="{% url 'fleet:detail_fleet'  fleet.pk %}">Detail</a>
        {% if not fleet.is_approved%}
            <a class="btn btn-lg badge-danger badge-pill" href="{% url 'fleet:remove_fleet'  fleet.pk %}">Delete</a>
        {% endif %}
</div>
    </div>
</div>
    {% endfor %}
{% else %}
<!-- Jumbotron -->
<div class="jumbotron p-0">

        <!-- Card image -->
        <div class="view overlay rounded-top">
          <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(134).jpg" class="img-fluid card-img-overlay" alt="Sample image">
          <a href="#">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      
        <!-- Card content -->
        <div class="card-body text-center mb-3">
      
          <!-- Title -->
          <h3 class="card-title h3 my-4"><strong>Card title</strong></h3>
          <!-- Text -->
          <p class="card-text py-2">Some quick example text to build on the card title and make up the bulk of the card's</p>
          <!-- Button -->
          <a href="{% url 'vehicle:vehicle_list' %}" class="btn purple-gradient badge-pill mb-4 px-5">Create Fleet</a>
      
        </div>
      
      </div>
      <!-- Jumbotron -->
{% endif %}


{% endblock fleet_content%}