{% extends 'fleet/fleet_base.html' %}
{% block fleet_content %}

<div class="container">
    <div class="row">
        {% if fleets%}


        {% for fleet in fleets %}
        <div class="card px-5 h4">
            <p class="card-header ">
                Fleet ID: <span class="font-weight-bolder h4 text-success">{{ fleet.fleet_ref }}</span>
            </p>
            <div class="card-body p-5">
                <div class="text-capitalize">
                    <span>Total Cars:</span>
                    <span>{{ fleet.vehicles.count }}</span>
                </div>
                <hr class="my-3 bg-primary">
                {% if fleet.is_approved %}
                <div class="text-capitalize">
                    <span>Expires on:</span>
                    <span class="text-danger">{{ fleet.expiration_date|date:"d-M-Y" }}</span>
                </div>
                <hr class="my-3 bg-primary">
                {% endif %}
                <div class="text-capitalize">
                    <span>Total Rent:</span>
                    <span>&#2547; {{ fleet.get_total }}</span>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group">
                    <a class="btn btn-lg badge-info" href="{% url 'fleet:detail_fleet'  fleet.pk %}">Detail</a>
                    {% if not fleet.is_approved and not fleet.is_purchased %}
                    <a class="btn btn-lg badge-danger" href="{% url 'fleet:remove_fleet'  fleet.pk %}">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <!-- Jumbotron -->
        <div class="jumbotron p-5 text-center mt-5">



            <!-- Title -->
            <h3 class="card-title h3 my-4"><strong>You have no Fleets</strong></h3>
            <!-- Text -->
            <!-- Button -->
            <a href="{% url 'fleet:new_fleet' %}" class="btn purple-gradient badge-pill mb-4 px-5">Create New Fleet</a>


        </div>
        <!-- Jumbotron -->
        {% endif %}

    </div>
</div>

{% endblock fleet_content%}