{% extends 'users/users_base.html' %}
{% load crispy_forms_tags %}

{% block title %} User Login {% endblock %}

{% block users_content %}
<div class="jumbotron col-sm-10 col-md-10 col-lg-8 col-xl-4 offset-sm-1 offset-md-1 offset-lg-2 offset-xl-4 mt-5">
    <form method="post" class="my-3">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Log In</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="lead">
            <button type="submit"  class="btn btn-success btn-lg btn-block">Login</button>
        </div>
    </form>
    <small class="text-muted">
        Don't have an account ? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
    </small>
  </div>
{% endblock users_content %}