{% extends 'users/users_base.html' %}

{% block title %} Logged out {% endblock %}

{% block users_content %}
<div class="container">
  <div class="row">
<div class="jumbotron card card-image mt-5 " style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">
    <div class="text-white text-center py-5 px-4">
      <div>
        <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Create your beautiful website with MDBootstrap</strong></h2>
        <p class="mx-5 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
          optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit sed qui, dolorum!
        </p>
        <a class="btn btn-outline-white bg-success" href="{% url 'login' %}"><i class="fa fa-user-check mr-2"></i> Log In Again</a>
      </div>
    </div>
  </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            
        </small>
    </div>

  </div>
</div>
{% endblock users_content %}