{% extends 'users/users_base.html' %}
{% load crispy_forms_tags %}

{% block title %} {{user.username}}'s Profile {% endblock %}


{% block users_content %}

<div class="jumbotron col-md-8 col-xl-6 offset-md-3 offset-xl-3 mt-5">
  <div class="d-flex text-success mb-5 justify-content-center">
    <div class="text-center">

      <img src="{{ user.user_profile.image.url }}" alt="" class="rounded-circle profile-img mr-4">
      <div class="media-boddy mt-5">
        <span class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </span>
      </div>
    </div>
  </div>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4 h2">User Information</legend>
      {{ u_form|crispy }}
      {{ p_form|crispy }}
    </fieldset>
    <div class="form-group">
      <button type="submit" class="btn btn-outline-info">Update</button>
    </div>
  </form>
</div>





{% endblock users_content %}